.heading-topic {
    font-size: 27px;
}
.heading-btn {
    font-size: 13px;
    width: 98px;
    height: 37px;
    color: #fff;
    background: var(--blue-1);
    border-radius: 5px;
    padding: 10px;
    /* text-align: center; */
}
.detail {
    font-size: 13px;
    color: var(--black-3);
}
.detail-answer {
    font-size: 13px;
    color: var(--black-1);
}
.topic-details {
    padding: 0 0 16px;
    margin: 0 0 16px;
    border-bottom: 1px solid #e3e6e8;
}

/*==============================================*/
/*==============Responsive Designe==============*/
/*==============================================*/

@media screen and (max-width: 1300px) {
    .heading {
        /* max-width: 1052px;
        min-width: 305px; */
        width: 100%;
    }
}
@media screen and (max-width: 846px){}
@media screen and (max-width: 980px){}

@media screen and (max-width: 816px){}
@media screen and (max-width: 791px) {}
@media screen and (max-width: 640px) {}